.CAP{
    margin-bottom: 2rem;
    
    .navigation{
        position: fixed;
        left: 0;
        width: 200px;
        background-color: var(--white-color);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #000;

        .block{
            width: 100%;
            
            a{
                cursor: pointer;
                transition: background-color .2s ease-in-out;
                user-select: none;
                width: 100%;
                font-size: 1.5em;
                font-weight: 500;
                position: relative;
                border: 1px solid #e6e6e6;

                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: .8rem;
                padding-bottom: .8rem;

                &:hover{
                    background-color: white;
                    border-bottom: 1px solid black;
                }
            }

            .current{
                // border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        }

    }

    .panel{
        padding-left: 200px;
        width: 100%;
        padding-top: 1rem;
        
        .add{
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            
        }

        .form-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .form-review{
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;

            .field{
                width: 100%;
                margin-top: 2rem;
                position: relative;

                .block-field{
                    position: relative;
                    margin-top: 1.6rem;

                    &:first-child{
                        margin-top: .4rem;
                    }
                }

                label, input[type=text], textarea{
                    display: block;
                    user-select: none;
                }
        
                .text-label{
                    position: absolute;
                    top: 0rem;
                    left: .5rem;
                    font-size: 1.2em;
                    cursor: text;
                    opacity: 1;
                    padding: .4rem;
                    border-radius: 8px;
                    color: white;
                }

                .error{
                    color: rgb(247, 61, 61)
                }
                
                input, textarea{
                    width: 100%;
                    height: 1rem;
                    padding: 1.2rem;
                    background-color: #3f3f3f;
                    border: none;
                    outline: none;
                    transition: all .2s ease-in-out;
                    color: white;
                    border-radius: 4px;
                    resize: none;
    
                    &:focus{
                        background-color: #333333;
                    }
                }

                textarea{
                    height: 5rem;
                    padding: .8rem;
                    
                }

                .block-info{
                    display: flex;
                    justify-content: space-between;
                    
                    .block-1, .block-2{
                        position: relative;

                        input{
                            width: 95%;
                        }

                        .text-label{
                            top: -30px;
                            left: -5px;
                            color: black;
                            font-size: 16px;
                        }

                        .error{
                            color: rgb(247, 61, 61)
                        }
                    }

                    .block-2{
                        display: flex;
                        justify-content: flex-end;

                        label{
                            left: .2rem !important;
                        }
                    }

                }

                h2{
                    font-size: 1.2em;
                    margin-bottom: 1rem;
                }
        
                label{
                    font-size: 1.2em;
                }

                .type-b{
                    margin-top: .4rem;
                    margin-bottom: .4rem;
                    display: flex;
                    align-items: center;
                    
                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }
                    [type="radio"]:checked + label,
                    [type="radio"]:not(:checked) + label
                    {
                        position: relative;
                        padding-left: 28px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                    }
                    [type="radio"]:checked + label:before,
                    [type="radio"]:not(:checked) + label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 14px;
                        height: 14px;
                        border: 1px solid black;
                        border-radius: 100%;
                        background: black;
                    }
                    [type="radio"]:checked + label:after,
                    [type="radio"]:not(:checked) + label:after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        background: white;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        border-radius: 100%;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                    [type="radio"]:not(:checked) + label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                    [type="radio"]:checked + label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
        
                    a{
                        border-bottom: 1px solid #fff;;
                    }
        
                    input{
                        width: 100%;
                        height: 1rem;
                        padding: 1.2rem;
                        background-color: #3f3f3f;
                        border: none;
                        outline: none;
                        transition: all .2s ease-in-out;
                        color: white;
        
                        &:focus{
                            background-color: #333333;
                        }
                    }
                }
        
                
                li{
                    list-style: none;
                    
                }

                select{
                    width: 100%;
                    height: 40px;
                    background-color: #3f3f3f;
                    border: none;
                    outline: none;
                    transition: all .2s ease-in-out;
                    border-radius: 4px;
                    padding-left: .4rem;
                    color: white ;
                    font-size: 1.2em;
                    
                    &:focus{
                        background-color: #333333;
                    }
                }
                
                option{
                    color: white !important;
                    padding-top: .4rem;
                    padding-bottom: .4rem;

                    &:checked {
                        background-color: #333333;
                        color: white;
                      }

                    &:hover{
                        background-color: #3f3f3f;
                    }
                }
            }

            .type{
                margin-top: 1rem;
            }

            .date-wrapper{
                width: 100%;
                margin-top: 1rem;

                h2{
                    font-size: 1.3em;
                }

                .date-input{
                    margin-top: .8rem;

                    .field{
                        margin-top: .6rem;
                    }
                }
            }

            .date-input{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                width: 100%;
                gap: .5rem;

                input[type="number"]::-webkit-outer-spin-button, 
                input[type="number"]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .field{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    input{
                        width: 100%;
                    }

                    label{
                        font-size: 1.05em;
                        top: .1rem;
                        left: .5rem;
                    }

                    .block-info-block{
                        
                    }
                }
            }
            
            input[type=file]{
                display: none;

            }

            .file_label{
                margin-top: 2rem;
                height: 1rem;
                padding: 1.2rem .8rem;
                border-radius: 4px;
                width: 100%;
                background-color: #3f3f3f;
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                p{
                    &:last-child{
                        font-size: 1.6em;
                    }
                }
            }

            button{
                margin-top: 2rem;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: .6rem 1.2rem;
                border-radius: 4px;
                font-size: 1.2em;
                cursor: pointer;
                transition: all .2s ease-in-out;
                background-color: #3f3f3f;
                color: white;
                outline: none;
                border: none;
    
                &:hover{
                    background-color: #464646;
                }
            }

        }

        .delete-store{
            margin: 0 auto;
            margin-top: 1rem;
            width: 78%;

            // .filter{
            //     margin-bottom: 2rem;
            //     position: relative;

            //     label, input[type=text], textarea{
            //         display: block;
            //         user-select: none;
            //         // margin-bottom: .4rem;
            //     }
        
            //     .text-label{
            //         position: absolute;
            //         top: 0rem;
            //         left: .5rem;
            //         font-size: 1.2em;
            //         cursor: text;
            //         opacity: 1;
            //         padding: .4rem;
            //         border-radius: 8px;
            //         color: white;
            //     }
                
            //     .error{
            //         color: rgb(247, 61, 61);
            //     }
        
            //     input, textarea{
            //         width: 550px;
            //         height: 1rem;
            //         padding: 1.2rem;
            //         background-color: #3f3f3f;
            //         border: none;
            //         outline: none;
            //         transition: all .2s ease-in-out;
            //         color: white;
            //         border-radius: 4px;
            //         resize: none;
        
            //         &:focus{
            //             background-color: #333333;
            //         }
            //     }
                
            // }

            .filter-wrapper {
                position: relative;
                background-color: #333;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #e6e6e6;
                margin-top: 6rem;
                padding: 1rem;
                z-index: 1321;
                // height: 3.6rem;
                width: 100%;
            }
            
            .filter{
                user-select: none;
                display: flex;
                gap: 1.5rem;
                font-size: 1.15em;
                position: relative;
                margin: 0;
        
                .bin{
                    position: absolute;
                    color: white;
                    left: -2.2rem;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
        
                .filter-item{
                    display: flex;
                    gap: .2rem;
                    cursor: pointer;
                    position: relative;
                    
                    svg{
                        width: 16px;
                        transform: rotate(90deg);
                        margin-left: .4rem;
                        transition: all .2s ease-in-out;
                    }
        
                    .rotated{
                        transform: rotate(-90deg);
                    }
        
                    .checkbox-pop{
                        display: none;
                    }
        
                    .pop{
                        cursor: default;
                        position: absolute;
                        z-index: 243;
                        width: 200px;
                        top: 1rem;
                        left: 50%;
                        top: 2.1rem;
                        transform: translateX(-50%);
                        background-color: #333;
                        padding: 1rem 1.2rem;
                        border: 1px solid #585858;
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;
        
                        label{
                            cursor: pointer;
                            transition: all .2s ease-in-out;
                            font-size: .9em;
        
                            &:hover{
                                color: #bebebe;
                            }
                        }
        
                        .checkbox-pop + label span{
                            display: inline-block;
                            width: 16px;
                            height: 14px;
                            margin: 0px 10px 2px 0; /*layout relationship between check and label*/
                            
                            &:before,
                            &:after {
                                transition: all .3s ease-in-out;
                                content: "";
                                position: absolute;
                                z-index: 1;
                                width: 16px;
                                height: 16px;
                                background: transparent;
                                border: 2px solid white; 
        
                            }
                            &:after {
                                z-index: 0;
                                border: none;
                            }
                            
                        }
                          
                        .checkbox-pop:checked + label span {
                            &:before {
                                @keyframes pop {
                                    0% { opacity:0; }
                                    100% {opacity:1; }
                                }
        
                                animation: pop .3s ease;
                                z-index: 100;
                                background: white;
                                
                            } 
                        }
                    }
                }
            }

            .items{
                // display: grid;
                // grid-template-columns: 1fr 1fr 1fr;
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 2;
                // min-height: 500px;

                .block{
                    display: flex;
                }
            }

            .wrapper-item{
                position: relative;
                z-index: 123;
                border-left: 1px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                overflow: hidden;
                width: 33.33%;

                .removed{
                    position: absolute;
                    z-index: 10;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
    
            .item{
                // width: 33.33%;
                // min-height: 550px;
                filter: grayscale(100%);
                transition: filter .2s ease-in-out;
                cursor: pointer;
                font-size: 1.6em;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-right: 1px solid black;
                --quick-height: 50px;
                overflow: hidden;
                z-index: 12312;

                // &:nth-last-child(-2){
                //     border-bottom: 1px solid #000;
                // }
                
                &:hover{
                    filter: unset;
                }

                .text-wrapper{
                    width: 100%;
                    position: relative;
                }

                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: sticky;
                    width: 100%;    

                    padding-top: .6rem;
                    padding-bottom: .6rem;
                    border-top: 1px solid #000;
                    z-index: 104;
                    background-color: #e6e6e6;
                }

                .col{
                    opacity: .5;
                    font-size: 1em;
                }

                .name{
                    font-size: 1.2em;
                }

                img{
                    z-index: 0;
                    padding: 1rem;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .quick-btn{
                    position: absolute;
                    height: var(--quick-height);
                    top: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .25s ease-in-out;
                    padding: .6rem 1.2rem;
                    font-size: 1.2em;
                    border: none;
                    border-top: 1px solid black;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #e6e6e6;
                    transform: translateY(calc(var(--quick-height) * -1));

                }

            }
        }

        .delete-review{
            width: 80%;
            margin: 0 auto;
        }
        
        .filter{
            margin-top: 1rem;
            margin-bottom: 2rem;
            position: relative;

            label, input[type=text]{
                display: block;
                user-select: none;
            }
    
            .text-label{
                position: absolute;
                top: 0rem;
                left: .5rem;
                font-size: 1.2em;
                cursor: text;
                opacity: 1;
                padding: .4rem;
                border-radius: 8px;
                color: white;
            }
            
            .error{
                color: rgb(247, 61, 61);
            }
    
            input{
                width: 550px;
                height: 1rem;
                padding: 1.2rem;
                background-color: #3f3f3f;
                border: none;
                outline: none;
                transition: all .2s ease-in-out;
                color: white;
                border-radius: 4px;
                resize: none;
    
                &:focus{
                    background-color: #333333;
                }
            }
            
        }
        
        .wrapper-review{
            position: relative;
            z-index: 123;
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            overflow: hidden;

            .removed{
                position: absolute;
                z-index: 10;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .review{
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 102;
    
            &:nth-child(3n+3){
                border-right: 1px solid black;
            }
            
            &:last-child{
                border-right: 1px solid black;
            }

            .quick-btn{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: .6rem 1.2rem;
                font-size: 1.2em;
                border: none;
                border-top: 1px solid black;
                cursor: pointer;
            }

            .removed{
                position: absolute;
                z-index: 10;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            
            .top{
                padding-top: 1rem;
                padding-left: .4rem;
                padding-right: .4rem;
    
                .name{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #797979;
                    padding-bottom: .6rem;
    
                    .f-col{
                        display: flex;
                        align-items: center;
                        gap: .6rem;
    
                        h3{
                            font-size: 1.4em;
                            font-weight: 600;
                        }
    
                        p{
                            font-size: 1.1em;
                        }
    
                        .pfp{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                    }
    
                    .tg{
                        width: 35px;
                        height: 35px;
                    }
                }
    
                .content{
                    font-size: 1.25em;
                    margin-bottom: 1rem;
                    margin-top: .6rem;
                }
            }
    
            .bot{
                height: 450px;
                
                .review-pic{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            
        }
    }
}

@media (max-width: 1680px) {
    .CAP .panel .delete-store {
        width: 85%;
    }

    .CAP .panel .delete-store .items {
        font-size: .7em;
    }
}

@media (max-width: 1500px) {
    .CAP .panel .form {
        width: 350px;
    }
}

@media (max-width: 1400px) {
    .CAP .panel .delete-store {
        width: 90%;
    }
}

@media (max-width: 1300px) {
    .CAP .panel .delete-store {
        width: 90%;
    }

    .CAP .panel .delete-store .items {
        font-size: .85em;
    }
    
    .CAP .panel .delete-store .items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1250px) {
    .CAP .panel .add {
        width: 85%;
    }

    .CAP .panel .form {
        width: 300px;
    }

    .CAP .panel .form .date-input {
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;

        .field{
            margin-top: 1rem;

        }
    }
}

@media (max-width: 1050px) {
    .CAP .panel .delete-store {
        width: 90%;
    }

    .CAP .panel .delete-store .items {
        font-size: .7em;
    }
}

@media (max-width: 950px) {
    .CAP .panel .add {
        width: 90%;
    }

    .CAP .panel .form {
        width: 290px;
    }

    .CAP .panel .form .date-input {
        grid-template-columns: 1fr 1fr;

        .field{

            // input{
            //     width: 140px;
            // }
        }
    }
}

@media (max-width: 900px) {
    .CAP .navigation {
        width: 140px;
        font-size: .75em;
    }

    .CAP .panel {
        padding-left: 140px;
    }

    .CAP .panel .add {
        width: 90%;
    }
    
    .CAP .panel .delete-store {
        width: 94%;
    }

    .CAP .panel .delete-store .items {
        font-size: .6em;
    }

    .CAP .panel .add {
        width: 90%;
    }

    .CAP .panel .form {
        width: 310px;
    }

}

@media (max-width: 880px) {
    .CAP .panel .form .field select {
        width: 280px;
    }

    .CAP .panel .form {
        width: 280px;
    }
}

@media (max-width: 800px) {
    .CAP .panel .add {
        flex-direction: column;
        gap: 2rem;

        font-size: .8em;
    }

    .CAP .panel .form .field select {
        width: 100%;
    }

    .CAP .panel .form, .CAP .panel .form-review {
        width: 100%;
    }

    .CAP .panel .form .field .text-label {
        top: .15rem;
    }

    .CAP .panel .form .field .block-info {
        gap: 2rem;
    }

}

@media (max-width: 700px) {
    .CAP .navigation {
        display: none;
    }

    .CAP .panel {
        padding-left: 0px;
    }
}

@media (max-width: 400px) {
    .CAP .panel .form .field .block-info {
        gap: 1rem;
    }

    .CAP .panel .add {
        font-size: .85em;
    }

    .CAP .panel .form .field h2 {
        font-size: 1.6em;
    }

    .CAP .panel .form .field .text-label {
        top: .15rem;
    }
}

@media (max-width: 750px) {
    .CAP .panel .delete-store {
        width: 80%;
    }

    .CAP .panel .delete-store .items {
        font-size: .8em;
    }
    
    .CAP .panel .delete-store .items {
        grid-template-columns: 1fr;
    }
}