.cart{
    position: fixed;
    z-index: 1000;
    width: 50vw;
    background-color: white;
    border: 1px solid black;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 4rem;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        background-color: black;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb{
        border-left: 1px solid black;
        border-right: 1px solid black;
        background-color: white;
    }

    .cart-header{
        background-color: white;
        position: fixed;
        height: 65px;
        width: calc(50vw - 2px);
        z-index: 123123;
        font-size: 2em;
        font-weight: 500;
        padding-left: 1rem;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .leave{
        width: 50px;
        cursor: pointer;
    }
    
    .empty{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .6rem;

        .cart-ic{
            width: 46px;
            height: 46px;
        }
    }

    .wrapper{
        padding-top: 65px;
        height: 100%;
        position: relative;
    }
    
    .cart-items{
        // height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        .item-wrapper{
            width: 100%;
            position: relative;
            border-bottom: 1px solid #bebebe;

            // &:last-child{
            //     border: none;
            // }
            
            .remove-warn{
                width: 100%;
                display: flex;
                align-items: center;
                gap: .6rem;
                flex-direction: column;
                position: absolute;
                z-index: 10002;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: white;

                button{
                    outline: none;
                    background-color: #c9c9c9;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    padding: .6rem 1rem;
                    color: black;
                    border: none;
                    font-size: 1.1em;
    
                    &:hover{
                        background-color: #b6b6b6;
                    }   
                }
            }

            .line{
                position: absolute;
                bottom: 2px;
                background-color: white;
                height: 5px;
            }
        }

        .item{
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: .6rem;
            padding-left: 1rem;
            padding-right: 1rem;
            // font-size: 1em;
            padding-bottom: .8rem;
            background-color: white;

            .remove{
                display: flex;
                align-items: center;
                gap: 1.4rem;

                .price{
                    font-size: 1.4em;
                    font-weight: 600;
                }
            }

            .remove-btn{
                outline: none;
                background-color: #333333;
                transition: all .2s ease-in-out;
                cursor: pointer;
                padding: .6rem 1rem;
                color: white;
                border: none;
                font-size: 1.1em;

                &:hover{
                    background-color: #464646;
                }                            
            }

            .quantity{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .4rem;
                font-size: 1.2em;

                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 20px;
                }
                
                button{
                    width: 32px;    
                    height: 32px;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    border: none;
                    background-color: #333333;
                    color: white;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    
                    &:hover{
                        background-color: #464646;
                    }
                }
            }

            .i-nq{
                display: flex;
                align-items: center;
                gap: 3rem;

                img{
                    width: 160px;
                    cursor: pointer;
                    padding: .6rem;
                }

                .n-q{
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    h2{
                        opacity: .5;
                        font-size: 1.3em;
                    }

                    h1{
                        font-size: 1.6em;
                    }
                }
            }
        }
    }

    .continue{
        margin: 1rem auto;
        padding-bottom: 1rem;
        width: 90%;
        display: flex;
        justify-content: space-between;
        border-top: 1px dashed #bebebe;
        padding-top: 1rem;
        padding-left: .6rem;
        padding-right: .6rem;
        bottom: 0;
        margin-inline: auto;
        left: 50%;
        translate: -50%;
        position: absolute;
        
        .subtotal{
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            p{
                font-size: 1.2em;
                font-weight: 500;
            }

            h2{
                font-size: 1.6em;
            }

            s{
                position: absolute;
                right: -2rem;
                top: -.4rem;
            }
        }

        .checkout{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .promocode-block{
                display: flex;
                align-items: center;
                gap: .2rem;
            }

            input{
                width: 240px;
                height: 40px;
                padding: 1.2rem;
                background-color: #3f3f3f;
                border: none;
                outline: none;
                transition: all .2s ease-in-out;
                color: white;
                resize: none;

                &:focus{
                    background-color: #333333;
                }

                &::placeholder{
                    font-weight: 600;
                    user-select: none;
                }
            }
        }
        
        button{
            outline: none;
            background-color: #333333;
            transition: all .2s ease-in-out;
            cursor: pointer;
            padding: .6rem 1.2rem;
            color: white;
            border: none;
            font-size: 1.1em;

            &:hover{
                background-color: #464646;
            }  
        }
    }
}

@media (max-width: 1600px) {
    .cart{
        width: 70vw;
    }
    
    .cart .cart-header {
        width: calc(70vw - 2px);
    }
}

@media (max-width: 1100px) {
    .cart{
        width: 80vw;
    }
    
    .cart .cart-header {
        width: calc(80vw - 2px);
    }
}

@media (max-width: 1000px) {
    .cart{
        font-size: .75em;
    }

    .cart .cart-items .item .i-nq {
        gap: 1rem;
    }
    
    .cart .cart-header {
        width: calc(80vw - 2px);
    }
}

@media (max-width: 800px) {
    .cart{
        font-size: .75em;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: unset;
        left: 0;
        right: unset;
        margin: unset;

    }
    
    .cart .cart-header {
        width: calc(100vw - 2px);
    }
}

@media (max-width: 650px) {
    .cart{
        font-size: .6em;
    }
    
    .cart .cart-items .item .i-nq img {
        width: 140px;
    }

    .cart .cart-items .item .quantity button {
        width: 24px;
        height: 24px;
    }

    .cart .cart-items .item .quantity p {
        font-size: 1.2em;
    }
}

@media (max-width: 550px) {
    .cart{
        font-size: .6em;
    }
    
    .cart .cart-items .item .i-nq img {
        width: 110px;
    }

    .cart .leave {
        width: 45px;
    }
}

@media (max-width: 500px) {
    .cart{
        font-size: .6em;
    }
    
    .cart .cart-items .item .remove {
        flex-direction: column;
        gap: .6rem;
    }

    .cart .leave{
        width: 35px;
        cursor: pointer;
    }
}

@media (max-width: 410px) {
    .cart .cart-items .item .i-nq {
        gap: 0rem;
    }

    .cart{
        font-size: .5em;
    }

    .cart .cart-items .item {
        padding-left: .4rem;
        padding-right: .4rem;
    }

    .cart .cart-header {
        height: 45px;
    }

    .cart .wrapper {
        padding-top: 45px;
    }
}

@media (max-width: 410px) {
    .cart .cart-items .item .i-nq img {
        width: 90px;
    }

    .cart .cart-items .item .remove-btn {
        padding: .4rem .3rem;
    }

    .cart .cart-items .item .quantity button {
        width: 18px;
        height: 18px;
        font-size: 1.25em;
    }
}

@media (max-width: 340px) {
    .cart .cart-items .item .i-nq img {
        width: 75px;
    }

    .cart{
        font-size: .45em;
    }
}