.contact{

    .pre{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1{
            font-size: 2.2em;
        }

        p{
            margin-top: .6rem;
            font-size: 1.6em;
        }

        button{
            margin-top: 1rem;
            padding: .6rem 1rem;
            font-size: 1.2em;
            cursor: pointer;
            transition: all .2s ease-in-out;
            background-color: black;
            color: white;
            outline: none;
            border: none;

            &:hover{
                background-color: rgb(70, 69, 69);
            }
        }
    }

}

.contact-form-wrapper{
    position: relative;
}

.contact-form{
    &::-webkit-scrollbar{
        background-color: #333333;
        width: 12px;
    }
    
    &::-webkit-scrollbar-thumb{
        border: 1px solid black;
        background-color: white;
    }
    position: fixed;
    z-index: 1000;
    width: 50vw;
    background-color: white;
    border: 1px solid black;
    top: 2rem;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    bottom: 4rem;
    margin: auto;
    margin-bottom: 1rem;
    overflow: auto;
    display: flex;
    justify-content: space-between;


    .contact-header{
        width: calc(50vw - 2px);
        background-color: white;
        font-size: 1.2em;
        z-index: 1991;
        font-weight: 500;
        padding-top: .4rem;
        padding-left: 1rem;
        border-bottom: 1px solid black;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;

        .leave{
            width: 50px;
            margin-bottom: .4rem;
            cursor: pointer;
        }
    }

    .blocks{
        padding-top: calc(65px);
        
        .block{
            margin-left: 2rem;

            button{
                display: flex;
                justify-content: center;
                padding: .6rem 1.2rem;
                font-size: 1.2em;
                cursor: pointer;
                transition: all .2s ease-in-out;
                background-color: #3f3f3f;
                color: white;
                outline: none;
                margin-bottom: .6rem;
                border: none;

                &:hover{
                    background-color: rgb(85, 85, 85);
                }
            }

            &:last-child{
                padding-bottom: 1.6rem;
            }

            .flex{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .6rem;
            }

            .field{
                margin-top: 2rem;
                // padding-bottom: 2rem;
                position: relative;

                .question-mark{
                    top: 2px;
                    position: relative;


                    &::before {
                        content: attr(data-hover);
                        visibility: hidden;
                        opacity: 0;
                        background-color: #333333;
                        
                        min-width: 200px;
                        color: #fff;
                        text-align: center;
                        border-radius: 5px;
                        padding: .4rem 1rem;
                        transition: opacity .3s ease-in-out;
                        position: absolute;
                        z-index: 1;
                        left: 1.6rem;
                        top: -.6rem;

                      }
                      
                      &:hover::before {
                        opacity: 1;
                        visibility: visible;
                      }
                }


                label, textarea input[type=text]{
                    display: block;
                    user-select: none;
                }
        
                .text-label{
                    position: absolute;
                    top: 0rem;
                    left: .5rem;
                    font-size: 1.2em;
                    cursor: text;
                    opacity: 1;
                    padding: .4rem;
                    border-radius: 8px;
                    color: white;
                }
                
                .error{
                    color: rgb(247, 61, 61);
                }
        
                input, textarea{
                    width: 550px;
                    height: 1rem;
                    padding: 1.2rem;
                    background-color: #3f3f3f;
                    border: none;
                    outline: none;
                    transition: all .2s ease-in-out;
                    color: white;
                    border-radius: 4px;
                    resize: none;
    
                    &:focus{
                        background-color: #333333;
                    }
                }

                textarea{
                    height: 6rem;
                    padding: .6rem 1rem;
                }
                
            }

            .radio-field{
                margin-top: 1rem;
                padding-bottom: unset;
            }

            .content-wrapper{
                padding-top: 1.3rem;
                overflow: hidden;
            }

            .content-other{
                position: relative;
                // padding-top: 1rem;

                label, input[type=text]{
                    display: block;
                    user-select: none;
                }
        
                .text-label{
                    position: absolute;
                    top: 0rem;
                    left: .5rem;
                    font-size: 1.2em;
                    cursor: text;
                    opacity: .8;
                    padding: .4rem;
                    border-radius: 8px;
                    color: white;
                }

                .error{
                    color: rgb(247, 61, 61);
                }
        
                input{
                    width: 350px;
                    height: 1rem;
                    padding: 1.2rem;
                    background-color: #3f3f3f;
                    border: none;
                    outline: none;
                    transition: all .2s ease-in-out;
                    color: white;
    
                    &:focus{
                        background-color: #333333;
                    }
                }

            }
            
            .social-wrapper{
                position: relative;
                overflow: hidden;
                padding-top: 1.4rem;

                .social-other{
                    label, input[type=text]{
                        display: block;
                        user-select: none;
                    }
            
                    .text-label{
                        position: absolute;
                        top: 1.4rem;
                        left: .5rem;
                        font-size: 1.2em;
                        cursor: text;
                        opacity: .8;
                        padding: .4rem;
                        border-radius: 8px;
                        color: white;
                    }
    
                    .error{
                        color: rgb(247, 61, 61);
                    }
            
                    input{
                        width: 350px;
                        height: 1rem;
                        padding: 1.2rem;
                        background-color: #3f3f3f;
                        border: none;
                        outline: none;
                        transition: all .2s ease-in-out;
                        color: white;
        
                        &:focus{
                            background-color: #333333;
                        }
                    }
                }
            }
        }
    }

    .proceed-wrapper{
        position: sticky;
        top: 0;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;

    }

    .proceed-block{
        display: flex;
        gap: .6rem;
        justify-content: center;
        align-items: center;

        .steps{ 
            display: flex;
            gap: .6rem;
            position: relative;

            .step{
                background-color: #3f3f3f;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                cursor: pointer;
            }

            .current-step{
                position: absolute;
                background-color: white;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                top: 2px;
                left: 2px;
            }
        }

        button{
            width: 160px;
            display: flex;
            justify-content: center;
            padding-top: .4rem;
            padding-bottom: .4rem;
            font-size: 1.2em;
            cursor: pointer;
            transition: all .2s ease-in-out;
            background-color: #3f3f3f;
            color: white;
            outline: none;
            border: none;

            &:hover{
                background-color: rgb(85, 85, 85);
            }
        }
    }

    .socials{
        color: black;

        h2{
            font-size: 1.2em;
            margin-bottom: 1rem;
        }

        label{
            font-size: 1.2em;
        }

        .social-b{
            margin-top: .4rem;
            margin-bottom: .4rem;
            display: flex;
            align-items: center;
            
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 14px;
                height: 14px;
                border: 1px solid black;
                border-radius: 100%;
                background: black;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: white;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            a{
                border-bottom: 1px solid #fff;;
            }

            input{
                width: 350px;
                height: 1rem;
                padding: 1.2rem;
                background-color: #3f3f3f;
                border: none;
                outline: none;
                transition: all .2s ease-in-out;
                color: white;

                &:focus{
                    background-color: #333333;
                }
            }
        }

        
        li{
            list-style: none;
            
        }
    }

    h3{
        margin-top: 1rem;
        margin-bottom: 0;
    }
}