.contact{

    .pre{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1{
            font-size: 2.2em;
        }

        p{
            margin-top: .6rem;
            font-size: 1.6em;
        }

        button{
            margin-top: 1rem;
            padding: .6rem 1rem;
            font-size: 1.2em;
            cursor: pointer;
            transition: all .2s ease-in-out;
            background-color: black;
            color: white;
            outline: none;
            border: none;

            &:hover{
                background-color: rgb(70, 70, 70);
            }
        }
    }

}

.contact-form-wrapper{
    position: relative;
}

.contact-form{
    &::-webkit-scrollbar{
        background-color: #333333;
        width: 12px;
    }
    
    &::-webkit-scrollbar-thumb{
        border: 1px solid black;
        background-color: white;
    }
    
    position: fixed;
    z-index: 1000;
    width: 55vw;
    background-color: white;
    border: 1px solid black;
    top: 2rem;
    // padding-bottom: 1rem;
    left: 0;
    right: 0;
    bottom: 4rem;
    margin: auto;
    // margin-bottom: 1rem;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;

    .contact-header{
        width: calc(55vw - 2px);
        background-color: white;
        font-size: 1.2em;
        z-index: 1991;
        font-weight: 500;
        padding-top: .4rem;
        padding-left: 1rem;
        border-bottom: 1px solid black;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;

        .leave{
            width: 50px;
            margin-bottom: .4rem;
            cursor: pointer;
        }
    }

    .blocks{
        padding-top: calc(65px);
        
        .block{
            margin-left: 2rem;

            button{
                display: flex;
                justify-content: center;
                padding: .6rem 1.2rem;
                font-size: 1.2em;
                cursor: pointer;
                transition: all .2s ease-in-out;
                background-color: #3f3f3f;
                color: white;
                outline: none;
                margin-bottom: .6rem;
                border: none;

                &:hover{
                    background-color: rgb(85, 85, 85);
                }
            }

            &:last-child{
                padding-bottom: 1.6rem;
            }

            .flex{
                display: flex;
                align-items: center;
                // justify-content: center;
                gap: .6rem;
            }

            .field{
                margin-top: 2rem;
                position: relative;

                .question-mark{
                    top: 55%;
                    position: absolute;
                    transform: translateY(-50%);
                    right: -2rem;

                    &::before {
                        content: attr(data-hover);
                        visibility: hidden;
                        opacity: 0;
                        background-color: #333333;
                        
                        min-width: 200px;
                        color: #fff;
                        text-align: center;
                        border-radius: 5px;
                        padding: .4rem 1rem;
                        transition: opacity .3s ease-in-out;
                        position: absolute;
                        z-index: 1;
                        left: 1.6rem;
                        top: -.6rem;
                      }
                      
                      &:hover::before {
                        opacity: 1;
                        visibility: visible;
                      }
                }


                label, textarea, input[type=text]{
                    display: block;
                    user-select: none;
                }
        
                .text-label{
                    color: white;
                    position: absolute;
                    top: 0rem;
                    left: .5rem;
                    font-size: 1.2em;
                    cursor: text;
                    opacity: 1;
                    padding: .4rem;
                    border-radius: 8px;
                }
                
                input, textarea{
                    width: 550px;
                    height: 1rem;
                    padding: 1.2rem;
                    background-color: #3f3f3f;
                    border: none;
                    outline: none;
                    transition: all .2s ease-in-out;
                    color: white;
                    border-radius: 4px;
                    resize: none;
    
                    &:focus{
                        background-color: #333333;
                    }
                }

                textarea{
                    height: 6rem;
                    padding: .6rem 1rem;
                    
                    &::-webkit-scrollbar-track{
                        background-color: black;
                        width: 12px;
                    }
                    
                    &::-webkit-scrollbar-thumb{
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        background-color: var(--white-color);
                    }
                }

                .error{
                    color: rgb(247, 61, 61);
                }
                
            }

            .radio-field{
                margin-top: 1rem;
                padding-bottom: unset;
            }

            .content-wrapper{
                padding-top: 1.3rem;
                overflow: hidden;
            }

            .content-other{
                position: relative;

                label, input[type=text]{
                    display: block;
                    user-select: none;
                }
        
                .text-label{
                    position: absolute;
                    top: 0rem;
                    left: .5rem;
                    font-size: 1.2em;
                    cursor: text;
                    opacity: .8;
                    padding: .4rem;
                    border-radius: 8px;
                    color: white;
                }

                .error{
                    color: rgb(247, 61, 61);
                }
        
                input{
                    width: 350px;
                    height: 1rem;
                    padding: 1.2rem;
                    background-color: #3f3f3f;
                    border: none;
                    outline: none;
                    transition: all .2s ease-in-out;
                    color: white;
    
                    &:focus{
                        background-color: #333333;
                    }
                }

            }
            
            .social-wrapper{
                position: relative;
                overflow: hidden;
                padding-top: 1.4rem;

                .social-other{
                    label, input[type=text]{
                        display: block;
                        user-select: none;
                    }
            
                    .text-label{
                        position: absolute;
                        top: 1.4rem;
                        left: .5rem;
                        font-size: 1.2em;
                        cursor: text;
                        opacity: .8;
                        padding: .4rem;
                        border-radius: 8px;
                        color: white;
                    }
    
                    .error{
                        color: rgb(247, 61, 61);
                    }
            
                    input{
                        width: 100%;
                        height: 1rem;
                        padding: 1.2rem;
                        background-color: #3f3f3f;
                        border-radius: 4px;
                        border: none;
                        outline: none;
                        transition: all .2s ease-in-out;
                        color: white;
        
                        &:focus{
                            background-color: #333333;
                        }
                    }
                }
            }
        }

        .submitted-form{
            margin: 0 auto;
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            svg{
                width: 46px;
                height: 46px;
            }

            h2{
                font-size: 2.1em;
            }
            
            p{
                font-size: 1.4em;
                font-weight: 500;
                margin-top: .6rem;
            }

            t{
                margin-top: .2rem;
                font-size: 1.2em;
                font-weight: 200;
            }
        }
    }

    .proceed-wrapper{
        position: sticky;
        top: 0;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .proceed-block{
        display: flex;
        gap: .6rem;
        padding-bottom: 1rem;
        justify-content: center;
        align-items: center;

        .steps{ 
            display: flex;
            gap: .6rem;
            position: relative;

            .step{
                background-color: #3f3f3f;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                cursor: pointer;
            }

            .current-step{
                position: absolute;
                background-color: white;
                width: 12px;
                height: 12px;
                border: 2px solid black;
                border-radius: 50%;
                // top: 2px;
                // left: 2px;
            }
        }

        button{
            width: 160px;
            display: flex;
            justify-content: center;
            padding-top: .4rem;
            padding-bottom: .4rem;
            font-size: 1.2em;
            cursor: pointer;
            transition: all .2s ease-in-out;
            background-color: #3f3f3f;
            color: white;
            outline: none;
            border: none;

            &:hover{
                background-color: #464646;
            }
        }
    }

    .socials{
        color: black;

        h2{
            font-size: 1.2em;
            margin-bottom: 1rem;
        }

        label{
            font-size: 1.2em;
        }

        .social-b{
            margin-top: .4rem;
            margin-bottom: .4rem;
            display: flex;
            align-items: center;
            
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 14px;
                height: 14px;
                border: 1px solid black;
                border-radius: 100%;
                background: black;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: white;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            a{
                border-bottom: 1px solid #fff;;
            }

            input{
                width: 350px;
                height: 1rem;
                padding: 1.2rem;
                background-color: #3f3f3f;
                border: none;
                outline: none;
                transition: all .2s ease-in-out;
                color: white;

                &:focus{
                    background-color: #333333;
                }
            }
        }

        
        li{
            list-style: none;
        }
    }

    h3{
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

@media (max-width: 900px) {
    .contact{
        font-size: .8em;
    }
}

@media (max-width: 700px) {
    .contact{
        display: flex;
        justify-content: center;

        .pre{
            width: 90%;
        }
    }

    .contact-form .blocks .block .field .question-mark::before {
        left: -345px;
        min-height: 30px;
        width: 300px;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        font-weight: 600;
        background-color: var(--white-color);
    }
}

@media (max-width: 500px) {
    .contact{
        font-size: .7em;
        
        .pre{
            width: 90%;
        }
    }
}

@media (max-width: 350px) {
    .contact{
        font-size: .6em;
    }
}

@media (max-width: 1600px) {
    .contact-form {
        width: 65vw;
    }

    .contact-form .contact-header {
        width: calc(65vw - 2px);
    }
}

@media (max-width: 1400px) {
    .contact-form {
        width: 75vw;
    }

    .contact-form .contact-header {
        width: calc(75vw - 2px);
    }
}

@media (max-width: 1300px) {
    .contact-form .blocks .submitted-form {
        font-size: .8em;
    }

    .contact-form .contact-header {
        width: calc(75vw - 2px);
    }
}

@media (max-width: 1150px) {
    .contact-form .blocks .block .field input, .contact-form .blocks .block .field textarea{
        width: 420px;
    }
}

@media (max-width: 1000px) {
    .contact-form {
        width: 85vw;
    }

    .contact-form .contact-header {
        width: calc(85vw - 2px);
        font-size: .9em;
    }
    
    .contact-form .blocks .submitted-form {
        font-size: .75em;
    }
}

@media (max-width: 900px) {
    .contact-form .blocks .block .field input, .contact-form .blocks .block .field textarea{
        width: 390px;
    }

    .contact-form .proceed-block {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .contact-form {
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        margin-bottom: 0;
        margin: unset;
    }

    .contact-form .contact-header {
        width: calc(100vw - 2px);
        padding-top: 0;
        height: 55px;
        top: 0;
    }

    .contact-form .contact-header .leave {
        width: 40px;
        margin-bottom: 0;
    }
    
    .contact-form .blocks .submitted-form {
        font-size: .65em;
    }
}

@media (max-width: 700px) {
    .contact-form .proceed-wrapper {
        position: static;
    }

    .contact-form{
        flex-direction: column;
    }

    .contact-form .blocks .block .field input, .contact-form .blocks .block .field textarea {
        width: 100%;
    }

    .additional-link{
        width: 100%;
    }

    .contact-form .blocks .block .social-wrapper .social-other {
        width: 90%;
    }

    .contact-form .blocks .block .field {
        width: 90%;
    }

    .contact-form .blocks .block .flex {
        gap: 0;
        justify-content: flex-start;
    }

    .contact-form .blocks .block .field .question-mark {
        right: -2rem;
    }
}

@media (max-width: 650px) {
    .contact-form .blocks .block {
        margin-left: 1rem;
    }

    .contact-form{
        font-size: .9em
    }

    .contact-form .blocks .block .field .text-label {
        top: .1rem;
    }
}

@media (max-width: 600px) {
    .contact-form .proceed-block {
        width: 90%;
    }
}

@media (max-width: 420px) {
    .contact-form .blocks .block .field .question-mark {
        right: -1.6rem;
    }
}

@media (max-width: 400px) {
    .contact-form .blocks .block .field {
        width: 87%;
    }    

    .contact-form .blocks .block .social-wrapper .social-other input {
        // width: 87%;

    }

    .contact-form .blocks .block .field .question-mark::before {
        left: -285px;
        width: 250px;
        font-size: .9em;
    }
}    

@media (max-width: 340px) {
    .contact-form .blocks .block .field .question-mark::before {
        left: -265px;
        width: 230px;
        font-size: .85em;
    }
}    

@media (max-width: 300px) {
    .contact-form .blocks .block .field .question-mark::before {
        left: -250px;
        width: 215px;
        font-size: .85em;
    }
}    

