.footer{
    // position: absolute;
    // bottom: 0;
    width: 100%;
    background-color: var(--black);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1em;
    border-top: 1px solid #bebebe;
    // margin-top: 1rem;
    
    .top{
        width: 70%;
        margin: 0 auto;
        border-bottom: 1px solid #797979;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;

        .col{
            display: flex;
            flex-direction: column;
            gap: .4rem;
            
            h2{
                font-size: 1.8em;
                margin-bottom: .2rem;
            }

            a{
                font-size: 1.1em;
                color: white;
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover{
                    color: #cfcfcf;
                }
            }
        }
    }

    .bottom{
        width: 50%;
        margin: 0 auto;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        opacity: .7;

        .col{
            font-size: 1.2em;

            p{
                color: white;
            }
        }
    }
}

@media (max-width: 1300px) {
    .footer .top {
        width: 90%;
    }
    .footer .bottom {
        width: 70%;
    }
}

@media (max-width: 840px) {
    .footer .top {
        font-size: .85em;
    }
    .footer .bottom {
        font-size: .9em;
    }
}

@media (max-width: 700px) {
    .footer .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        gap: 2rem;
        width: 80%;

        .col{
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
    
    .footer .bottom {
        font-size: .9em;
    }
}

@media (max-width: 600px) {
    .footer .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .footer .top {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        gap: 2rem;
        width: 80%;

        .col{
            &:nth-child(2) {
                text-align: unset;
            }
        }
    }

    .footer .top .col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .footer .bottom {
        font-size: .68em;
    }

    .footer .top {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        gap: 2rem;
        width: 80%;

        .col{
            &:nth-child(2) {
                text-align: unset;
            }
        }
    }

    .footer .top .col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}