.h-wrapper{
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid;
    z-index: 12000;
    font-size: .9em;
}

.hamburger{
    display: none;
}

.header{
    height: 66px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    // border-bottom: 3px solid black;
    background-color: var(--white-color);

    .nav{
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        user-select: none;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.5em;
        font-weight: 500;
        position: relative;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;

        display: flex;
        height: 100%;
        align-items: center;

        &:hover{
            background-color: white;
            border-left: 1px solid black;
            border-right: 1px solid black;

            svg{
                transform: rotate(-90deg);
            }

            // &:first-child{
            //     border-left: 1px solid #e6e6e6;
            // }

            // &:last-child{
            //     border-right: 1px solid #e6e6e6;
            // }
        }

        svg{
            width: 16px;
            transform: rotate(90deg);
            margin-left: .4rem;
            transition: all .2s ease-in-out;
        }
    }

    .about{
        position: relative;
        z-index: 14000;
        background-color: white;
    }

    .about-wrapper{
        position: relative;

        &:hover{
            .slide-out{
                transform: translateY(165px);
            }
        }
    }
    
    .slide-out{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: -60px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 204px;
        // gap: 1.2rem;
        font-size: 1.1em;
        font-weight: 500;
        // padding-top: 1rem;
        transition: all .3s ease-in-out;
        transform: translateY(-50px);
        background-color: white;
        z-index: 123;
        border: 1px solid #bebebe;

        a{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: .6rem;
            padding-bottom: .6rem;
            transition: all .2s ease-in-out;
            cursor: pointer;
            
            &:hover{
                background-color: #e6e6e6;
            }
        }
    }

    .left-lane{
        grid-area: LEFT;
        height: 100%;
        width: 33.33%;
        display: flex;
        // justify-content: center;
        align-items: center;
    }

    .mid-lane{
        grid-area: MID;
        display: flex;
        width: 33.33%;
        height: 100%;
        justify-content: center;
        z-index: 13000;

    }

    .right-lane{
        grid-area: RIGHT;
        display: flex;
        justify-content: flex-end;
        width: 33.33%;
        height: 100%;

        .cart-container{
            padding-left: 4rem;
            padding-right: 4rem;
            font-size: 1.5em;
            font-weight: 500;
            transition: all .2s ease-in-out;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            cursor: pointer;

            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: white;
                border-left: 1px solid black;
                border-right: 1px solid black;
    
                svg{
                    transform: rotate(-90deg);
                }
            }

            a{
                padding-left: unset;
                padding-right: unset;
                font-size: unset;
                font-weight: unset;
                position: relative;

                display: unset;
                height: unset;
                align-items: unset;
                border: none;

                &:hover{
                    background-color: unset;
                    outline: unset;
                }
            }

            .count{
                position: absolute;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                right: -20px;
                top: -5px;
                font-size: .55em;
                background-color: #333;
                padding: .2rem;
                border-radius: 50%;
                color: white;
            }

            .scaled{
                @keyframes scale {
                    25%{
                        transform: scale(1.1);
                    }
                    50%{
                        transform: scale(1.2);
                    }
                    75%{
                        transform: scale(1.1);
                    }
                    100%{
                        transform: scale(1);
                    }
                }
                animation: scale .3s ease-in-out;
            }
        }
    }
}

@media (max-width: 1600px) {
    .header .nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header .right-lane .cart-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

// @media (max-width: 1500px) {
//     .header .nav {
//         padding-left: 1rem;
//         padding-right: 1rem;
//     }

//     .header .right-lane .cart-container{
//         padding-left: 1rem;
//         padding-right: 1rem;
//     }
// }

// @media (max-width: 1400px) {
//     .header{
//         font-size: .85em;
//     }
// }

// @media (max-width: 1300px) {
//     .header{
//         font-size: .75em;
//     }
// }

@media (max-width: 1140px) {
    .header{
        height: 54px;
    }
    
    .header .nav{
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.2em;
    }

    .header .right-lane .cart-container{
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.2em;
    }
}

@media (max-width: 1000px) {
    .header .nav{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        font-size: 1.1em;
    }

    .header .right-lane .cart-container{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        font-size: 1.1em;
    }
}

@media (max-width: 780px) {
    .header .nav{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1em;
    }

    .header .right-lane .cart-container{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1em;
    }
}

@media (max-width: 700px) {
    .header .mid-lane{
        display: none;
    }

    .header .right-lane{
        display: none;
    }

    .header .left-lane{
        width: 100%;
        font-size: 1.2em;
    }
}