.h-wrapper{
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid ;
    z-index: 100;
    font-size: .9em;
}

.header{
    height: 66px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    // border-bottom: 3px solid black;
    background-color: #E6E6E6;

    a{
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        user-select: none;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.5em;
        font-weight: 500;
        position: relative;

        display: flex;
        height: 100%;
        align-items: center;

        &:hover{
            background-color: white;
            outline: 1px solid black;

            svg{
                transform: rotate(-90deg);
            }
        }

        svg{
            width: 16px;
            transform: rotate(90deg);
            margin-left: .4rem;
            transition: all .2s ease-in-out;
        }

    }

    .left-lane{
        grid-area: LEFT;
        height: 100%;
        width: 33.33%;
        display: flex;
        // justify-content: center;
        align-items: center;
    }

    .mid-lane{
        grid-area: MID;
        display: flex;
        width: 33.33%;
        height: 100%;
        justify-content: center;

    }

    .right-lane{
        grid-area: RIGHT;
        display: flex;
        justify-content: flex-end;
        width: 33.33%;
        height: 100%;

        // a{
        //     padding-left: 1rem;
        //     padding-right: 1rem;

        //     // &:first-child{
        //     //     padding-right: unset;
        //     //     padding-right: 1rem;
        //     // }

        //     // &:last-child{
        //     //     border-left: 1px solid;
        //     //     padding-left: 1.5rem;
        //     // }
        // }

    }
}