.item-page{
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

    img{
        object-fit: cover;
        width: 500px;
        height: 500px;
        user-select: none;
    }

    .image-slider-container{
        width: 500px;
        height: 900px;
        user-select: none;
    }
    
    .slider-container{
        display: flex;
    }
    
    .im{
        border-radius: 10px;
        background-size: cover;
        background-position: center;
    }
    
    
    .slider{
        // width: 100%;
        // height: 100%;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;
    }
    
    .left{
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        left: 0px;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
    }
    
    .right{
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        right: 0px;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
    }
    
    .arrow{
        svg{
            width: 52px;
            padding: .6rem;
            background-color: black;
            border: 2px solid black;
            color: white;
            transition: all .3s ease-in-out;
    
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
    
    .bot-images{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar{
            background: transparent;
            height: 4px;
            border-radius: 50%;
        }
    
        &::-webkit-scrollbar-thumb{
            background-color: black;
        }
    
        .img-nav{
            width: 120px;
            height: 120px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            opacity: .7;
            
            &:hover{
                scale: 1.05;
                opacity: 1;
        }
        }
    
        .chosen{
            scale: 1.2;
            opacity: 1;
            transition: all .2s ease-in-out;
    
            &:hover{
                scale: 1.2;
            }
        }
    }
}