.quickshop{
    position: fixed;
    z-index: 1000;
    width: 50vw;
    height: 85vh;
    background-color: white;
    border: 1px solid black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;

    img{
        object-fit: cover;
        width: 300px;
        height: 500px;
    }

    .quickshop-header{
        background-color: #E6E6E6;
        position: fixed;
        height: 65px;
        width: calc(50vw - 4px);
        z-index: 123123;
        font-size: 2em;
        font-weight: 500;
        padding-top: .4rem;
        padding-left: 1rem;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .leave{
        width: 50px;
        margin-bottom: .4rem;
        cursor: pointer;
    }

    .item-wrapper{
        height: 100%;
        padding-top: 65px;
    }

    .item{
        
        display: flex;
        height: 100%;

        .f-col{
            user-select: none;
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .r-col{
            padding-top: 1rem;
            padding-left: .6rem;
            width: 60%;
            height: 100%;
            background-color: black;
            color: white;
            font-size: 1.1em;

            h3{
                font-size: 0.9em;
                padding-left: .1rem;
            }

            h2{
                padding-left: .1rem;
            }

            h1{
                margin-top: .6rem;
                font-size: 2em;
                padding-left: .1rem;
            }

            .block-info{
                border-top: 6px solid white;
                border-bottom: 6px solid white;
                padding-top: .8rem;
                padding-bottom: .4rem;
                padding-left: .6rem;
                margin-top: 1rem;
                margin-right: .6rem;

                .line{
                    font-size: 1.1em;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: .6rem;
                    margin-right: .6rem;
                }
            }

            .quote{
                margin-top: 3rem;
                font-size: .9em;
                margin-left: .4rem;

                .said{
                    text-align: right;
                    margin-top: .6rem;
                    margin-right: .6rem;
                }
            }

            button{
                position: absolute;
                right: .6rem;
                bottom: .6rem;
                transition: background-color .25s ease-in-out, opacity .3s ease-in-out;
                padding: .4rem .8rem;
                background-color: white;
                outline: none;
                border: none;
                font-size: 1.1em;
                font-weight: 400;
                cursor: pointer;

                &:hover{
                    background-color: rgb(189, 186, 186);
                }
            }
        }
    }
}
