.reviews-wrapper{
    margin: auto;
    position: relative;
    overflow: hidden;

    background-color: var(--white-color);
    color: black;
    // margin-bottom: 2rem;
    // padding-top: 2rem;
}   

.review-head{
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-light);
    color: white;
    // border-top: 3px solid black;
    border-bottom: 2px solid #bebebe;
    font-size: 1.1em;
    font-weight: 200;
}

.reviews{
    --width-var: attr(count-attr);
    padding-top: (var(--width-var));
    background-color: #333;
    color: white;
    
    // @keyframes scroll {
    //     0%{
    //         transform: translateX(0);
    //     }
    //     100%{
    //         transform: translateX(calc(-320px * 7 + 1600px));
    //     }
    // }

    .review{
        // padding: .3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border-left: 1px solid #000;
        border-bottom: 2px solid #000;
        transition: all .15s ease-in-out;

        // &:hover{
        //     scale: 1.03;
        // }
        
        .top{
            padding-top: 1rem;
            padding-left: .4rem;
            padding-right: .4rem;

            .name{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #797979;
                padding-bottom: .6rem;

                .f-col{
                    display: flex;
                    align-items: center;
                    gap: .6rem;

                    h3{
                        font-size: 1.4em;
                        font-weight: 600;
                    }

                    p{
                        font-size: 1.1em;
                    }

                    .pfp{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }

                .tg{
                    width: 38px;
                    height: 38px;
                    color: white;
                }
            }

            .content{
                font-size: 1.25em;
                margin-bottom: 1rem;
                margin-top: .6rem;
            }
        }

        .bot{
            height: 450px;
            width: 450px;
            
            .review-pic{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .l1{
        display: flex;
        animation: scroll 10s linear infinite both alternate;
        position: relative;

        &::after{
            content: "";
            width: 100%;
            height: 2px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .l2{
        display: flex;
        animation: scroll 10s linear infinite both alternate-reverse;
    }
}

@media (max-width: 1200px) {
    .reviews .review .bot {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .reviews .review .bot {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 650px) {
    .reviews{
        font-size: .8em;
    }
    
    .reviews .review .bot {
        height: 250px;
        width: 250px;
    }

    .reviews .review .top .name .f-col .pfp {
        width: 44px;
        height: 44px;
    }

    .reviews .review .top .name .tg {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 450px) {
    .reviews{
        font-size: .8em;
    }
    
    .reviews .review .bot {
        height: 220px;
        width: 220px;
    }
}

@media (max-width: 360px) {
    .reviews .review .bot {
        height: 200px;
        width: 200px;
    }
}