.store{
    
    .store-head{
        width: 100%;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        font-size: 1.1em;
        font-weight: 200;
    }

    .items{
        margin: 0 auto;
        width: 78%;
        display: flex;
        flex-direction: column;

        .block{
            width: 99%;
            margin: 0 auto;
            display: flex;
            border-left: 1px solid black;
            border-top: 1px solid black;

            .item{
                width: 33.33%;
                height: 100%;
                filter: grayscale(100%);
                transition: all .2s ease-in-out;
                cursor: pointer;
                font-size: 1.6em;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-right: 1px solid black;
                
                &:hover{
                    filter: unset;

                    .quick-btn{
                        transform: translateY(-60px);
                    }
                }

                .text-wrapper{
                    width: 100%;
                    position: relative;

                }

                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: sticky;
                    width: 100%;    

                    padding-top: .6rem;
                    padding-bottom: .6rem;
                    border-top: 1px solid #000;
                    z-index: 104;
                    background-color: #e6e6e6;
                }

                .col{
                    opacity: .5;
                    font-size: 1em;
                }

                .name{
                    font-size: 1.2em;
                }

                img{
                    padding: 1rem;
                    width: 80%;
                    object-fit: cover;
                }

                .quick-btn{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .25s ease-in-out;
                    padding: .6rem 1.2rem;
                    font-size: 1.2em;
                    border: none;
                    border-top: 1px solid black;
                    z-index: 0;
                    cursor: pointer;
                    background-color: #e6e6e6;

                }

            }
        }
    }

}