.store{
    .store-head{
        width: 100%;
        height: 80px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d31450;
        color: aliceblue;
        letter-spacing: 3px;
        font-size: 1.25em;
    }
}