.store{
    .store-head{
        width: 100%;
        height: 120px;
        margin-top: -6px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffff00;
        outline: 3px solid black;
        letter-spacing: 3px;
        font-size: 1.25em;
    }

    .items{
        display: flex;
        flex-direction: column;

        .block{
            display: flex;
            
            .item{
                width: 33.33%;
            }
        }
    }
}