@import "reviews.scss";
@import "home.scss";
@import "cart.scss";
@import "header.scss";
@import "footer.scss";
@import "store.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.07em;
}

#w{
    color: #E27D60; 
    color: #85D1CB; 
    color: #E8A87C; 
    color: #D31450; 
    color: #41B3A3; 
}

