@import "reviews.scss";
@import "home.scss";
@import "cart.scss";
@import "header.scss";
@import "footer.scss";
@import "store.scss";
@import "slider.scss";
@import "scroll3D.scss";
@import "item.scss";
@import "contact.scss";
@import "quickshop.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

html{
    position: relative;
}

// body{
//     position: relative;
// }

.a{
    background-color: #E6E6E6;
    z-index: 0;
}

main{
    position: relative;
}
