.reviews-wrapper {
  margin: auto;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  margin-bottom: 2rem;
}

.review-head {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 1.1em;
  font-weight: 200;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-640px);
  }
}
.reviews .review {
  padding: 0.3rem;
  margin-bottom: 1rem;
  transition: all 0.15s ease-in-out;
}
.reviews .review:hover {
  scale: 1.03;
}
.reviews .review .top {
  padding-top: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.reviews .review .top .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews .review .top .name .f-col {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.reviews .review .top .name .f-col .text span {
  color: #ffff00;
}
.reviews .review .top .name .f-col h3 {
  font-size: 1.2em;
  font-weight: 600;
}
.reviews .review .top .name .f-col p {
  font-size: 0.9em;
}
.reviews .review .top .name .f-col .pfp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.reviews .review .top .name .tg {
  width: 35px;
  height: 35px;
}
.reviews .review .top .content {
  font-size: 1em;
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}
.reviews .review .bot .review-pic {
  width: 440px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews .l1 {
  display: flex;
  animation: scroll 10s linear infinite both alternate;
}
.reviews .l2 {
  display: flex;
  animation: scroll 10s linear infinite both alternate-reverse;
}

.home .gr-image {
  overflow: hidden;
  height: 600px;
}
.home .gr-image img {
  position: relative;
  z-index: 102;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh;
  -o-object-position: 0% 10%;
     object-position: 0% 10%;
}

.cart {
  position: fixed;
  z-index: 1000;
  width: 50vw;
  background-color: #E6E6E6;
  border: 1px solid black;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 4rem;
  margin: auto;
  overflow: hidden;
}
.cart .cart-header {
  width: calc(50vw - 4px);
  background-color: #E6E6E6;
  font-size: 1.2em;
  z-index: 1991;
  font-weight: 500;
  padding-top: 0.4rem;
  padding-left: 1rem;
  border-bottom: 2px solid black;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.cart .cart-header .leave {
  width: 50px;
  margin-bottom: 0.4rem;
  cursor: pointer;
}
.cart .wrapper {
  padding-top: 65px;
  height: 100%;
}
.cart .cart-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}
.cart .cart-items::-webkit-scrollbar {
  background-color: black;
  width: 12px;
}
.cart .cart-items::-webkit-scrollbar-thumb {
  border: 1px solid black;
  background-color: white;
}
.cart .cart-items .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5em;
  border-bottom: 4px solid black;
  padding-bottom: 0.8rem;
}
.cart .cart-items .item .remove-btn {
  outline: none;
  background-color: #ffff00;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.6rem 1rem;
  padding-top: 0.9rem;
}
.cart .cart-items .item .remove-btn:hover {
  background-color: #E6E6E6;
}
.cart .cart-items .item .i-nq {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.cart .cart-items .item .i-nq img {
  width: 160px;
}
.cart .cart-items .item .i-nq .n-q .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 0.8em;
}
.cart .cart-items .item .i-nq .n-q .quantity button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 4px;
  background-color: #ffff00;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cart .cart-items .item .i-nq .n-q .quantity button:hover {
  background-color: #E6E6E6;
}

.h-wrapper {
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid;
  z-index: 100;
  font-size: 0.9em;
}

.header {
  height: 66px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #E6E6E6;
}
.header a {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}
.header a:hover {
  background-color: white;
  outline: 1px solid black;
}
.header a:hover svg {
  transform: rotate(-90deg);
}
.header a svg {
  width: 16px;
  transform: rotate(90deg);
  margin-left: 0.4rem;
  transition: all 0.2s ease-in-out;
}
.header .left-lane {
  grid-area: LEFT;
  height: 100%;
  width: 33.33%;
  display: flex;
  align-items: center;
}
.header .mid-lane {
  grid-area: MID;
  display: flex;
  width: 33.33%;
  height: 100%;
  justify-content: center;
}
.header .right-lane {
  grid-area: RIGHT;
  display: flex;
  justify-content: flex-end;
  width: 33.33%;
  height: 100%;
}

.store .store-head {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 1.1em;
  font-weight: 200;
}
.store .items {
  margin: 0 auto;
  width: 78%;
  display: flex;
  flex-direction: column;
}
.store .items .block {
  width: 99%;
  margin: 0 auto;
  display: flex;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.store .items .block .item {
  width: 33.33%;
  height: 100%;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1.6em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  padding: 1rem;
}
.store .items .block .item:hover {
  filter: unset;
}
.store .items .block .item:hover .quick-btn {
  opacity: 0.4;
}
.store .items .block .item .col {
  margin-top: 0.8rem;
  opacity: 0.5;
  font-size: 1em;
}
.store .items .block .item .name {
  font-size: 1.2em;
}
.store .items .block .item img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.store .items .block .item .quick-btn {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 45%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: background-color 0.25s ease-in-out, opacity 0.3s ease-in-out;
  padding: 0.6rem 1.2rem;
  font-size: 1.2em;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
}
.store .items .block .item .quick-btn:hover {
  opacity: 1;
}

.image-slider-container {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.slider-container {
  display: flex;
}

.im {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.left {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  left: 0px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  right: 0px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.arrow svg {
  width: 52px;
  padding: 0.6rem;
  background-color: black;
  border: 2px solid black;
  color: white;
  transition: all 0.3s ease-in-out;
}
.arrow svg:hover {
  background-color: white;
  color: black;
}

.bot-images {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.bot-images::-webkit-scrollbar {
  background: transparent;
  height: 4px;
  border-radius: 50%;
}
.bot-images::-webkit-scrollbar-thumb {
  background-color: black;
}
.bot-images .img-nav {
  width: 120px;
  height: 120px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0.7;
}
.bot-images .img-nav:hover {
  scale: 1.05;
  opacity: 1;
}
.bot-images .chosen {
  scale: 1.2;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.bot-images .chosen:hover {
  scale: 1.2;
}

.scroll3D {
  position: relative;
}
.scroll3D input {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10101;
  height: 16px;
  width: 220px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  border-radius: 15px;
  outline: none;
}
.scroll3D input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
}

.contact .pre {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact .pre h1 {
  font-size: 2.2em;
}
.contact .pre p {
  margin-top: 0.6rem;
  font-size: 1.6em;
}
.contact .pre button {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: black;
  color: white;
  outline: none;
  border: none;
}
.contact .pre button:hover {
  background-color: rgb(70, 69, 69);
}

.contact-form-wrapper {
  position: relative;
}

.contact-form {
  position: fixed;
  z-index: 1000;
  width: 50vw;
  background-color: #E6E6E6;
  border: 1px solid black;
  top: 2rem;
  padding-bottom: 1rem;
  left: 0;
  right: 0;
  bottom: 4rem;
  margin: auto;
  margin-bottom: 1rem;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
.contact-form::-webkit-scrollbar {
  background-color: #333333;
  width: 12px;
}
.contact-form::-webkit-scrollbar-thumb {
  border: 1px solid black;
  background-color: white;
}
.contact-form .contact-header {
  width: calc(50vw - 2px);
  background-color: #E6E6E6;
  font-size: 1.2em;
  z-index: 1991;
  font-weight: 500;
  padding-top: 0.4rem;
  padding-left: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.contact-form .contact-header .leave {
  width: 50px;
  margin-bottom: 0.4rem;
  cursor: pointer;
}
.contact-form .blocks {
  padding-top: 65px;
}
.contact-form .blocks .block {
  margin-left: 2rem;
}
.contact-form .blocks .block button {
  display: flex;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #3f3f3f;
  color: white;
  outline: none;
  margin-bottom: 0.6rem;
  border: none;
}
.contact-form .blocks .block button:hover {
  background-color: rgb(85, 85, 85);
}
.contact-form .blocks .block:last-child {
  padding-bottom: 1.6rem;
}
.contact-form .blocks .block .field {
  margin-top: 2rem;
  position: relative;
}
.contact-form .blocks .block .field .question-mark {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: -16px;
}
.contact-form .blocks .block .field .question-mark::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  background-color: #333333;
  min-width: 200px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 1.6rem;
  top: -1rem;
}
.contact-form .blocks .block .field .question-mark:hover::before {
  opacity: 1;
  visibility: visible;
}
.contact-form .blocks .block .field label, .contact-form .blocks .block .field textarea input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.contact-form .blocks .block .field .text-label {
  position: absolute;
  top: 0rem;
  left: 0.5rem;
  font-size: 1.2em;
  cursor: text;
  opacity: 1;
  padding: 0.4rem;
  border-radius: 8px;
  color: white;
}
.contact-form .blocks .block .field .error {
  color: rgb(247, 61, 61);
}
.contact-form .blocks .block .field input, .contact-form .blocks .block .field textarea {
  width: 350px;
  height: 1rem;
  padding: 1.2rem;
  background-color: #3f3f3f;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  color: white;
  border-radius: 4px;
  resize: none;
}
.contact-form .blocks .block .field input:focus, .contact-form .blocks .block .field textarea:focus {
  background-color: #333333;
}
.contact-form .blocks .block .radio-field {
  margin-top: 1rem;
  padding-bottom: unset;
}
.contact-form .blocks .block .content-wrapper {
  padding-top: 1.3rem;
  overflow: hidden;
}
.contact-form .blocks .block .content-other {
  position: relative;
}
.contact-form .blocks .block .content-other label, .contact-form .blocks .block .content-other input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.contact-form .blocks .block .content-other .text-label {
  position: absolute;
  top: 0rem;
  left: 0.5rem;
  font-size: 1.2em;
  cursor: text;
  opacity: 0.8;
  padding: 0.4rem;
  border-radius: 8px;
  color: white;
}
.contact-form .blocks .block .content-other .error {
  color: rgb(247, 61, 61);
}
.contact-form .blocks .block .content-other input {
  width: 350px;
  height: 1rem;
  padding: 1.2rem;
  background-color: #3f3f3f;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  color: white;
}
.contact-form .blocks .block .content-other input:focus {
  background-color: #333333;
}
.contact-form .blocks .block .social-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 1.4rem;
}
.contact-form .blocks .block .social-wrapper .social-other label, .contact-form .blocks .block .social-wrapper .social-other input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.contact-form .blocks .block .social-wrapper .social-other .text-label {
  position: absolute;
  top: 1.4rem;
  left: 0.5rem;
  font-size: 1.2em;
  cursor: text;
  opacity: 0.8;
  padding: 0.4rem;
  border-radius: 8px;
  color: white;
}
.contact-form .blocks .block .social-wrapper .social-other .error {
  color: rgb(247, 61, 61);
}
.contact-form .blocks .block .social-wrapper .social-other input {
  width: 350px;
  height: 1rem;
  padding: 1.2rem;
  background-color: #3f3f3f;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  color: white;
}
.contact-form .blocks .block .social-wrapper .social-other input:focus {
  background-color: #333333;
}
.contact-form .proceed-wrapper {
  position: sticky;
  top: 0;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contact-form .proceed-block {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
}
.contact-form .proceed-block .steps {
  display: flex;
  gap: 0.6rem;
  position: relative;
}
.contact-form .proceed-block .steps .step {
  background-color: #3f3f3f;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.contact-form .proceed-block .steps .current-step {
  position: absolute;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
.contact-form .proceed-block button {
  width: 160px;
  display: flex;
  justify-content: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #3f3f3f;
  color: white;
  outline: none;
  border: none;
}
.contact-form .proceed-block button:hover {
  background-color: rgb(85, 85, 85);
}
.contact-form .socials {
  color: black;
}
.contact-form .socials h2 {
  font-size: 1.2em;
  margin-bottom: 1rem;
}
.contact-form .socials label {
  font-size: 1.2em;
}
.contact-form .socials .social-b {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
}
.contact-form .socials .social-b [type=radio]:checked,
.contact-form .socials .social-b [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.contact-form .socials .social-b [type=radio]:checked + label,
.contact-form .socials .social-b [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
.contact-form .socials .social-b [type=radio]:checked + label:before,
.contact-form .socials .social-b [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 100%;
  background: black;
}
.contact-form .socials .social-b [type=radio]:checked + label:after,
.contact-form .socials .social-b [type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.contact-form .socials .social-b [type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.contact-form .socials .social-b [type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.contact-form .socials .social-b a {
  border-bottom: 1px solid #fff;
}
.contact-form .socials .social-b input {
  width: 350px;
  height: 1rem;
  padding: 1.2rem;
  background-color: #3f3f3f;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  color: white;
}
.contact-form .socials .social-b input:focus {
  background-color: #333333;
}
.contact-form .socials li {
  list-style: none;
}
.contact-form h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.quickshop {
  position: fixed;
  z-index: 1000;
  width: 50vw;
  height: 85vh;
  background-color: white;
  border: 1px solid black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
.quickshop img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 500px;
}
.quickshop .quickshop-header {
  background-color: #E6E6E6;
  position: fixed;
  height: 65px;
  width: calc(50vw - 4px);
  z-index: 123123;
  font-size: 2em;
  font-weight: 500;
  padding-top: 0.4rem;
  padding-left: 1rem;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quickshop .leave {
  width: 50px;
  margin-bottom: 0.4rem;
  cursor: pointer;
}
.quickshop .item-wrapper {
  height: 100%;
  padding-top: 65px;
}
.quickshop .item {
  display: flex;
  height: 100%;
}
.quickshop .item .f-col {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.quickshop .item .r-col {
  padding-top: 1rem;
  padding-left: 0.6rem;
  width: 60%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 1.1em;
}
.quickshop .item .r-col h3 {
  font-size: 0.9em;
  padding-left: 0.1rem;
}
.quickshop .item .r-col h2 {
  padding-left: 0.1rem;
}
.quickshop .item .r-col h1 {
  margin-top: 0.6rem;
  font-size: 2em;
  padding-left: 0.1rem;
}
.quickshop .item .r-col .block-info {
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 0.6rem;
  margin-top: 1rem;
  margin-right: 0.6rem;
}
.quickshop .item .r-col .block-info .line {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
}
.quickshop .item .r-col .quote {
  margin-top: 3rem;
  font-size: 0.9em;
  margin-left: 0.4rem;
}
.quickshop .item .r-col .quote .said {
  text-align: right;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}
.quickshop .item .r-col button {
  position: absolute;
  right: 0.6rem;
  bottom: 0.6rem;
  transition: background-color 0.25s ease-in-out, opacity 0.3s ease-in-out;
  padding: 0.4rem 0.8rem;
  background-color: white;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}
.quickshop .item .r-col button:hover {
  background-color: rgb(189, 186, 186);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

html {
  position: relative;
}

.a {
  background-color: #E6E6E6;
  z-index: 0;
}

main {
  position: relative;
}/*# sourceMappingURL=index.css.map */