{% load i18n %}

{% block subject %}
{% blocktrans %}Добро пожаловать в LootMakers!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Ваш аккаунт успешно подтверждён и полностью готов к использованию." %}

{% trans "Благодарим вас за выбор нашей компании!" %}

{% endblock text_body %}

{% block html_body %}
<p>Добро пожаловать в LootMakers!</p>
<p>Ваш аккаунт успешно подтверждён и полностью готов к использованию.</p>
<p>Данное письмо отправлено автоматически и не требует ответа. </p>
{% endblock html_body %}